
h1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans";
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px;
    background: lightblue;
}

ul{
    display: flex;
    list-style: none;
    width: 25%
    justify-content: space-between;
}

main ,footer{
    width:  1200px;
    margin: auto;
    text-align: center;
    background:  lavenderblush
    ;
}

h4{
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-item{
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    color: royalblue; 
}

h2{
    font-size: 25px;
    font-weight: bold;
    color: lightskyblue;
}

 h4{
    font-size: 15px;
    font-weight: bold;
    color: black;
 }

